* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.top {
    /* padding: 30px; */
    align-content: center;
    text-align: center;
    font-size: 35px;
}

/* Container for flexboxes */
.middle {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 80px;
}

/* Style the navigation menu */
.left_side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
}

/* Style the content */
.right_side {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
}

/* Style the footer */
.bottom {
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}